body{
  background-color: rgb(233,234,237);
}
.col-md-3{
  padding: 10px 5px 2px 2px;
}

.col-md-9{
  padding: 10px 5px 2px 2px;
}

.field-left{
  border-color: rgb(233,234,237);
  border-style: solid;
  border-width: 1px;
  height: 800px;
}
.field-right{
  border-color: rgb(233,234,237);
  border-style: solid;
  border-width: 1px;
  height: 800px;
}
